html, body {
    margin: 0;
    padding: 0;
}


body{
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-display: fallback;
}

.dark {
    background: #2D2E2E;
}

.light {
    color: white;
}


    .main-div {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .main {
        display: flex;
        flex: 1;
    }


    .button {
        cursor: pointer;
        background:  #f1b200;
        color:black;
        border: 1px solid;
        border-radius: 9px;
        text-align: center;
        width: 80px;
        padding: 5px;
        margin: 15px;
        transition: width 2s, font-size 2s ease;
    }

    .light .button {
        background: #00AEAE
    }

    .button:hover,.button:active {
        background: black;
        color: #f1b200;
    }

    .light .button:hover {
        background:#EDEADE;
        color: #00AEAE;
    }
    
    
    .left {
        width: 30%;
        display: flex;
        background-color: #2B2C2C;
        padding-top: 65px;
        padding-right: 20px;
    }
    
    .light .left {
        background-color: #EDEADE;
    }
    
    .left-section__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding: 0 20px 0 45px;
        padding-right: 20px;
        /* right: 10px; */
        /* align-items: flex-start; */
    }


    .left-section__image-section {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
    }
    
    .left-section__image {
        max-width: 200px;
        width: 100%;
    }
    
    .left-section__social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
    }

    
    
    .fa {
      padding: 10px;
      text-align: center;
      text-decoration: none;
      background: transparent;
      color: #666666;
    }
    

    .fa-facebook:hover,
    .fa-github:hover,
    .fa-linkedin:hover,
    .fa-twitter:hover,
    .fa-facebook:active,
    .fa-github:active,
    .fa-linkedin:active,
    .fa-twitter:active{
        color: #f1b200    
    }

    .light .fa-facebook:hover,
    .fa-github:hover,
    .fa-linkedin:hover,
    .fa-twitter:hover,
    .fa-facebook:active,
    .fa-github:active,
    .fa-linkedin:active,
    .fa-twitter:active{
        color:#00AEAE  
    }
    
    .fa-linkedin {
      padding: 10px;
    font-size: 20px;
      width: 15px;
      height: 50px;
     margin: 5px 2px;

    }
    .fa-github {
      padding: 10px;
      font-size: 20px;
      width: 15px;
      height: 50px;
     margin: 5px 2px;

    }
    .fa-twitter {
      padding: 10px;
        font-size: 20px;
      width: 15px;
      height: 50px;
      margin: 5px 2px;

    }

    .fa-copyright {
        padding: 0px
    }
   
    .right {
        position: relative;
        width: 50%;
        padding: 100px 50px 50px 50px;
    }
    .about-me {
        line-height: 2;
        color: #666666;
        font-size: 20px;
    }

    
    .name-title {
        font-size: 20px;
        font-weight: 300;
        color: #999;
        text-transform: uppercase;
        padding-bottom: 20px;
        padding-left: 2px;
        margin-bottom: 0px;
        letter-spacing: 1px;
    }
    
    .name-info {
        text-transform: uppercase;
        font-size: 15px;
        color: #f1b200;
        margin: 8px;
        /* align-self: center; */
    }
    .light .name-info {
        color: #00AEAE
    }
    .mobile-info,
    .location-info {
        color: #666666;
    }

    .email-info {
        display: flex;
        flex: 1;
        align-items: center;
        color: #666666;
    }
    
    .scroll-top {
        background:#252525;
        box-shadow: 0px 1px 5px 0px rgba(0 0 0 / 50%);
    }
    
    .footer {
        background-color: black;
        color: rgb(175, 162, 162);
        display: flex;
        justify-content: space-between;
        height: 80px;
    }
    .light .footer {
        background-color: white;
    }

    .footer-text {
        width: 15px;
        height: 50px;
        color: #666666;
    }

    .skills {
        display: flex;
        position:relative;
        top: 10px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .skills-item {
        color:  #f1b200;
        border: 1px solid;
        border-radius: 9px;
        text-align: center;
        width: fit-content;
        padding: 5px;
        margin: 15px;
    }

    .light .skills-item {
        color: #00AEAE
    }
    
    .copyright-content {
        margin-top: 14px;
        margin-left: 10px
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #666666;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 20px;
        left: 0;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #00AEAE;
      }
      
      
      input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
      }
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }

      .dark-mode-toggle {
          margin: 15px;
      }
    @media only screen and (max-width: 600px) and (min-width: 350px) {
        .main {
            flex-direction: column;
        }
        .left {
            width: 100%;
            align-items: center;
            justify-content: center;
            padding-top: 40px;
            padding-right: 0px;
        }

        .left-section__content {
            padding: 0 20px 0 20px
        }
        .right {
            width: 80%;
            padding: 25px;
        }
        .skills {
            justify-content: space-evenly;
        }
        .about-me {
            line-height: 2;
            color: #666666;
            font-size: 16px;
        }
        .footer {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: fit-content;
        }
        .button {
            font-weight: bold;
        }
    }