html, body {
    margin: 0;
    padding: 0;
}

body{
    background: #2D2E2E;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    box-sizing: border-box;
    letter-spacing: 1px;
}

    .main-div {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .main {
        display: flex;
        flex: 1;
    }

    .header {
        position: sticky;
        top: 0;
        transition: all 0.5s ease;
        background: transparent;
        color: #f1b200;
        z-index: 100;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .button {
        cursor: pointer;
        background:  #f1b200;
        color:black;
        border: 1px solid;
        border-radius: 9px;
        text-align: center;
        width: 80px;
        padding: 5px;
        margin: 15px;
        transition: width 2s;

    }
    .button:hover {
        width: 150px;
    }
    
    
    .left {
        width: 30%;
        display: flex;
        background-color: #2B2C2C;
        padding-top: 65px;
        padding-right: 20px;
    }
    
    
    .left-section__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding: 0 20px 0 45px;
        padding-right: 20px;
        /* right: 10px; */
        /* align-items: flex-start; */
    }

    .left-section__image-section {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
    }
    
    .left-section__image {
        max-width: 200px;
        width: 100%;
    }
    
    .left-section__social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
    }
    
    .fa {
        padding: 10px;
      text-align: center;
      text-decoration: none;
      background: transparent;
      color: #666666;
    }
    
    .fa:hover{
        color: #f1b200    
    }
    
    .fa-facebook {
      padding: 10px;
      font-size: 20px;
      width: 15px;
      height: 50px;
      margin: 5px 2px;
    }
    
    .fa-linkedin {
      padding: 10px;
    font-size: 20px;
      width: 15px;
      height: 50px;
            margin: 5px 2px;

    }
    .fa-github {
      padding: 10px;
      font-size: 20px;
      width: 15px;
      height: 50px;
     margin: 5px 2px;

    }
    .fa-twitter {
      padding: 10px;
        font-size: 20px;
      width: 15px;
      height: 50px;
      margin: 5px 2px;

    }
   
    .right {
        position: relative;
        width: 50%;
        padding: 100px 50px 50px 50px;
    }
    
    .name-title {
        font-size: 20px;
        font-weight: 300;
        color: #999;
        text-transform: uppercase;
        padding-bottom: 20px;
        padding-left: 2px;
        margin-bottom: 0px;
        letter-spacing: 1px;
    }
    
    .name-info {
        text-transform: uppercase;
        font-size: 15px;
        color: #f1b200;
        margin: 8px;
        /* align-self: center; */
    }
    .mobile-info,
    .email-info,
    .location-info {
        color: #666666;
    }

    .about-me {
        line-height: 2;
        color: #666666;
        font-size: 20px;
    }
    
    
    
    .scroll-top {
        background:#252525;
        box-shadow: 0px 1px 5px 0px rgba(0 0 0 / 50%);
    }
    
    .footer {
        background-color: black;
        color: rgb(175, 162, 162);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }

    .skills {
        display: flex;
        position:relative;
        top: 10px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .skills-item {
        color:  #f1b200;
        border: 1px solid;
        border-radius: 9px;
        text-align: center;
        width: fit-content;
        padding: 5px;
        margin: 15px;
        transition: width 2s;

    }
    